appdirs==1.4.4
asttokens==2.4.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
build==1.2.2
CacheControl==0.14.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==42.0.5
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
docopt==0.6.2
dulwich==0.21.7
enum34==1.1.6
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
fonttools==4.50.0
greenlet==3.0.0
grpcio==1.59.3
grpcio-tools==1.59.3
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
ipython==8.12.3
isodate==0.6.1
jaraco.classes==3.4.0
jdcal==1.4.1
jedi==0.19.1
Jinja2==3.1.3
jsonpath-ng==1.6.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_pygments==0.3.0
keyring==24.3.1
lxml==5.1.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mistune==3.0.2
more-itertools==10.5.0
msgpack==1.1.0
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
ntplib==0.4.0
objectpath==0.6.1
openpyxl==2.5.1
orderedmultidict==1.0.1
outcome==1.2.0
overrides==7.4.0
packaging==23.2
pandocfilters==1.5.1
parso==0.8.3
pbr==6.1.0
pendulum==3.0.0
pexpect==4.9.0
pickleshare==0.7.5
pipreqs==0.5.0
pkginfo==1.11.1
platformdirs==4.2.0
playwright==1.17.2
ply==3.11
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
prompt-toolkit==3.0.43
protobuf==4.25.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pyee==8.2.2
Pygments==2.17.2
pyjsonselect==0.2.2
PyMySQL==1.1.0
pyppeteer==0.2.6
pyproject-toml==0.0.10
pyproject_hooks==1.2.0
PySocks==1.7.1
pyspnego==0.10.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==25.1.2
RapidFuzz==3.10.0
referencing==0.30.2
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
rpds-py==0.10.6
setuptools==75.1.0
shellingham==1.5.4
six==1.12.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sspilib==0.1.0
stack-data==0.6.3
termcolor==2.4.0
time-machine==2.14.0
tinycss2==1.2.1
toml==0.10.2
tomlkit==0.13.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
trio==0.22.2
trio-websocket==0.11.1
trove-classifiers==2024.9.12
typing_extensions==4.9.0
tzdata==2024.1
urllib3==1.26.17
virtualenv==20.25.1
wcwidth==0.2.13
webencodings==0.5.1
websockets==9.1
wheel==0.43.0
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
yarg==0.1.9
zeep==4.2.1
zipp==3.17.0
